* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #a41f1f;
    padding: 30px;
    color: rgb(0, 0, 0);
    font-size:  25px;

}

body {
    background: linear-gradient(135deg, #d35202a1, #93240e5a);
    color: white;
    padding: 20px;
    text-align: center;
    
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #000000;
}

h2 {
    font-size: 30px;
    margin: 30px 0 15px;
    color: #cc0000;
}

img {
    margin: 15px 0;
    border-radius: 10px;
    max-width: 100%;
    border: 1px solid #000000;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #c54213;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    background-color: white;
    color: black;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff5100;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ffaa00;
    transform: scale(1.05);
}